@model  IEnumerable<ShopOnlineConnection.SanPham>
@{
    ViewBag.Title = "Home Page";
}
<style>

    .commit {
        background-color: #fff;
        display: block;
    }

    .grid.wide {
        max-width: 1200px;
        margin: 0 auto;
    }

    .grid {
        width: 100%;
        display: block;
        padding: 0;
    }

    .grid {
        display: flex;
    }

    .commit-ship, .commit-phone,
    .commit-genuine {
        margin: 30px 0;
        width: 100%;
        text-align: center;
    }

    .icon-bd {
        font-size: 7em;
        margin-bottom: 10px;
    }

    .commit h3 {
        color: #f47207;
        font-weight: 5 00;
    }

    p {
        font-size: 1.2em;
    }
</style>
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Asset/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Men's</h1>
                                    <h2 class="head-2">Shoes</h2>
                                    <h2 class="head-3">Collection</h2>
                                    <p class="category"><span>New trending shoes</span></p>
                                    <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Asset/images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Huge</h1>
                                    <h2 class="head-2">Sale</h2>
                                    <h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
                                    <p class="category"><span>Big sale sandals</span></p>
                                    <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Asset/images/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">New</h1>
                                    <h2 class="head-2">Arrival</h2>
                                    <h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
                                    <p class="category"><span>New stylish shoes for men</span></p>
                                    <p><a href="#" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="colorlib-intro">
    <div class="commit">
        <div class="grid wide">

            <div class="commit-genuine">
                <span class="icon-bd">
                    <ion-icon name="card"></ion-icon>
                </span>
                <h3>CAM KẾT CHÍNH HÃNG</h3>
                <h4>100% Authentic</h4>
                <p>Cam kết sản phẩm chính hãng từ Châu Âu, Châu Mỹ...</p>
            </div>
            <div class="commit-ship">
                <span class="icon-bd">
                    <ion-icon name="car"></ion-icon>
                </span>
                <h3>GIAO HÀNG HỎA TỐC</h3>
                <h4>Express delivery</h4>
                <p>SHIP đến mọi nơi-Giao đến tận tay</p>
            </div>
            <div class="commit-phone">
                <span class="icon-bd">
                    <ion-icon name="call"></ion-icon>
                </span>
                <h3>HỖ TRỢ 24/24</h3>
                <h4>Supporting 24/24</h4>
                <p>Gọi Ngay</p>
            </div>

        </div>
    </div>

</div>
@Html.Partial("_Top4New", WebGiay.Models.BUS.ShopOnlineBUS.Top4New());
@Html.Partial("_Top4ThinhHanh", WebGiay.Models.BUS.ShopOnlineBUS.Top4ThinhHanh());
@Html.Partial("_BestSeller", WebGiay.Models.BUS.ShopOnlineBUS.BestSeller());
<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="/Asset/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</div>