<style>
    footer {
        background-color: #011d1f;
        margin-top: 100px;
    }

    .footer-app {
        margin: 0 36px 0 100px;
        padding: 50px 0;
    }

    .footer-regime {
        display: flex;
        justify-content: space-between;
    }

    .logo-photo {
        max-width: 100%;
        height: 150px;
    }

    .footer-client-logo {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 20px 0;
        color: #fff;
    }

    .footer-client {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 0 20px 0;
        color: #fff;
    }

        .footer-client h3 {
            font-family: sans-seri;
        }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .footer-client-list {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #fff;
        padding: 10px 0;
        text-decoration: none;
        position: relative;
        transition: 0.3s linear;
        right: 0;
        display: block;
    }
</style>

<footer>
    <div class="footer-app">
        <div class="gird">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="footer-regime">
                            <div class="footer-support">
                                <img class="logo-photo" src="~/Asset/images/logo.jpg" alt="">
                                <h3 class="footer-client-logo">Thông Tin Liên Hệ</h3>
                                <p class="footer-client-list">
                                    Địa Chỉ: 156/2 Nguyễn Phan Vinh,<br>phường
                                    Thọ Quang, Quận Sơn Trà, Thành Phố Đà Nẵng
                                </p>
                                <p class="footer-client-list">Email : cskh.s5style.vn@gmail.com</p>
                                <p class="footer-client-list">https://facebook.com/pg/www.s5style.vn</p>
                                <p class="footer-client-list">Hotline Bán Hàng: 0909.300.746 - 0909.45.0001</p>
                            </div>
                            <div class="footer-support">
                                <h3 class="footer-client">Hỗ Trợ Khách Hàng</h3>
                                <p class="footer-client-list">Chăm Sóc Khách Hàng</p>
                                <p class="footer-client-list">Tư Vấn Khách Hàng</p>
                                <p class="footer-client-list">Thanh Toán</p>
                                <p class="footer-client-list">Hướng Dẫn Mua Hàng</p>
                            </div>
                            <div class="footer-support">
                                <h3 class="footer-client">Chính Sách</h3>
                                <p class="footer-client-list">Chế Độ Bảo Hành</p>
                                <p class="footer-client-list">Chính Sách Đổi Hàng</p>
                                <p class="footer-client-list">Bảo Mật Thông Tin</p>
                                <p class="footer-client-list">Chính Sách Giao Nhận</p>
                            </div>
                            <div class="footer-support">
                                <h3 class="footer-client">FANPAGE</h3>
                                <p class="footer-client-list">Chăm Sóc Khách Hàng</p>
                                <p class="footer-client-list">Tư Vấn Khách Hàng</p>
                                <p class="footer-client-list">Thanh Toán</p>
                                <p class="footer-client-list">Hướng Dẫn Mua Hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="/Asset/js/jquery.min.js"></script>
<!-- popper -->
<script src="/Asset/js/popper.min.js"></script>
<!-- bootstrap 4.1 -->
<script src="/Asset/js/bootstrap.min.js"></script>
<!-- jQuery easing -->
<script src="/Asset/js/jquery.easing.1.3.js"></script>
<!-- Waypoints -->
<script src="/Asset/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="/Asset/js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="/Asset/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="/Asset/js/jquery.magnific-popup.min.js"></script>
<script src="/Asset/js/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="/Asset/js/bootstrap-datepicker.js"></script>
<!-- Stellar Parallax -->
<script src="/Asset/js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="/Asset/js/main.js"></script>
<script>
    $(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>

